#-------------------------------- Automaticed Testing General Configuration -------------------

#----------------------------------------- Part One -------------------------------------------
# Remote Mode : Trigger testing with Jenkins, the below variables will be updated by Jenkins.
#----------------------------------------------------------------------------------------------
_Brand = AMX
_Project = Goddard
_Sku = PR01-0808
_TestJob = GUI_Goddard
_Tester = Ethan

#----------------------------------------- Part Two (ToBeDefined)------------------------------
# Local variables : Product infos, automation script variables, ...
#----------------------------------------------------------------------------------------------
#_HardwareVersion = 1111
#_SoftwareVersion = 2222
#_Phase = EV
#
#----------------------------------------------------------------------------------------------


#----------------------------------------- Part Three (ToBeDefined)----------------------------
# Test Cases : Cases number, _CasesToRun
#----------------------------------------------------------------------------------------------
#_CasesToRun = All
#_CasesToRun = {10001-20001}
#----------------------------------------------------------------------------------------------


#------------------------------------------- Part Four (ToBeDefined) --------------------------
# Below common settings
#----------------------------------------------------------------------------------------------
